<h1 class='container text-center'>Edit Your Auction</h1>

<div class='container text-center'>
  <%= simple_form_for(@auction) do |f| %>
    <%= f.input :item, label: 'Item Name' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.input :initial_price, label: 'Initial Price' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
