<h1 class='container text-center'>Create your Auction</h1>

<div class='container text-center' id='formcolor'>
  <%= simple_form_for @auction do |f| %>
    <%= f.input :item, label: 'Nome do item' %>
    <%= f.input :description %>
    <%= f.input :initial_price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
