<h1 class="container text-center">Detalhes</h1>
<div class="container text-center">
  <li>
    <%= @auction.item %>
    <%= @auction.description %>
    <%= @auction.user.first_name %>
    <%= @bid.price %>
  </li>

  <%= link_to "Editar leilao", edit_auction_path(@auction)%>
  <%= link_to "Visualizar leiloes", auctions_path%>
  <%= link_to "Deletar", auction_path, method: :delete, data: { confirm: "Seu pc foi hackeado?" }%>
  <%= link_to "de um bid", auction_bids_path(@auction), method: :post %>
</div>
