<h1>Details</h1>


<div class="container">
  <div class="row justify-content-center">

    <div class="col-5 justify-content-center ">
      foto
    </div>

    <div class="col-4 justify-content-center">
      <%= @auction.item %>
      <%= @auction.description %>
      <p>Vendedor: <%= @auction.user.first_name.capitalize %></p>
      <p>Preço inicial: <%= @auction.initial_price %></p>
    </div>

    <div class="col-3 justify-content-center">
      <% if @bid %>
        Lançe atual: <%= @bid.price  %> US$
      <%else%>
          NO BIDS YET!, Min bid <%= @auction.initial_price %> !
      <% end %>

      <% if @auction.status %>
        <%= link_to "Bid", auction_bids_path(@auction), method: :post, class: "btn" %>
      <%else%>
        <span>Auction CLOSED!</span>
      <% end %>
    </div>
  </div>

  <% if @auction.user == current_user %>
    <%= link_to "Close auction", auction_close_path(@auction), method: :patch, class: "btn" %>
  <% end %>


  <%= link_to "Edit Auctions", edit_auction_path(@auction), class: "btn" %>
  <%= link_to "View Auctions", auctions_path, class: "btn" %>
  <%= link_to "Delete", auction_path, method: :delete, data: { confirm: "Your auction has been deleted" }, class: "btn" %>
</div>
