<h1>Details</h1>

<div class="container">
  <div class="card-product row">
      <% if @auction.photo.attached? %>
        <%= cl_image_tag @auction.photo.key, class: "card-product-img col-3" %>
      <%else %>
        <%= image_tag("noimage.jpg")%>
      <% end %>
    <div class="card-product-infos col-4">
      <h2>Auctioneer: <%= @auction.user.first_name.capitalize %></h2>
      <p>Item: <%= @auction.item %> </p>
      <p>Description: <%= @auction.description %> </p>
      <p>Initial Price: <%= @auction.initial_price %>,00 US$</p>
    </div>
    <div class="col-4 justify-content-center">

      <h3><% if @bid.present? %>
            Current Bid: <strong><%= @bid.price  %> US$</strong>
            <% if @auction.bids[-2].present? %>
              Last Bid:<%=@auction.bids[-2].user.first_name %>
              <%=@auction.bids[-2].price %>
            <% end %>
          <%else%>
            NO BIDS YET! Min bid <%= @auction.initial_price %> !
          <% end %>

          <% if @auction.status %>
            <p> Auction OPEN! </p>
            <%= link_to "Bid", auction_bids_path(@auction), method: :post, class: "btn" if @auction.user != current_user %>
          <% else %>
            <p>Auction CLOSED!</p>
            <% if @bid.present? %>
              Winner: <%= @bid.user.first_name %>
             <% else %>
              Not Winner.....
            <% end %>
             <%# <%="Winner:", @bid.user.first_name if @bid.present? %>
          <% end %>
      </h3>
    </div>
  </div>

  <%= link_to "View Auctions", auctions_path, class: "btn" %>

  <% if @auction.user == current_user %>
    <%= link_to "Close auction", auction_close_path(@auction), method: :patch, class: "btn" %>
    <%= link_to "Edit Auctions", edit_auction_path(@auction), class: "btn" %>
    <%= link_to "Delete", auction_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>
  <% end %>

</div>

<img src="" alt="">
